<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><?=Config::get('site_name')?></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <?php if( App::getRouter()->getController() == 'home' ) {?> <?php } ?>><a class="navbar-brand" href="/home/">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li <?php if( App::getRouter()->getController() == 'category' ) {?>class="active"<?php } ?>><a href="/category/">Categories</a></li>
                <li><a <?php if( App::getRouter()->getController() == 'contacts' ) {?>class="active"<?php } ?> href="/contacts/">Contact Us</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group input-group">
                    <input type="text" class="form-control" placeholder="Search..">
                    <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a <?php if( App::getRouter()->getController() == 'users' ) {?>class="active"<?php } ?> href="/admin/"><span class="glyphicon glyphicon-user"></span> Login </a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-2 well">
            <!--<div class="thumbnail">
                <p>Buy:</p>
                <img src="paris.jpg" alt="image" width="400" height="300">
                <p><strong>Name</strong></p>
                <p>Price</p>
                <button class="btn btn-primary">Info</button>
            </div>
            <div class="thumbnail">
                <p>Buy:</p>
                <img src="paris.jpg" alt="image" width="400" height="300">
                <p><strong>Name</strong></p>
                <p>Price</p>
                <button class="btn btn-primary">Info</button>
            </div>
            <div class="thumbnail">
                <p>Buy:</p>
                <img src="paris.jpg" alt="image" width="400" height="300">
                <p><strong>Name</strong></p>
                <p>Price</p>
                <button class="btn btn-primary">Info</button>
            </div>-->
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="starter-template">
                    <?php if (Session::hasFlash()){ ?>
                        <div class="alert alert-info" role="alert">
                            <?php Session::flash(); ?>
                        </div>
                    <?php } ?>

                    <?=$data['content']?>
                </div>
            </div>
        </div>
        <div class="col-sm-2 well">
            <!--<div class="thumbnail">
                <p>Buy:</p>
                <img src="paris.jpg" alt="image" width="400" height="300">
                <p><strong>Name</strong></p>
                <p>Price</p>
                <button class="btn btn-primary">Info</button>
            </div>
            <div class="thumbnail">
                <p>Buy:</p>
                <img src="paris.jpg" alt="image" width="400" height="300">
                <p><strong>Name</strong></p>
                <p>Price</p>
                <button class="btn btn-primary">Info</button>
            </div>
            <div class="thumbnail">
                <p>Buy:</p>
                <img src="paris.jpg" alt="image" width="400" height="300">
                <p><strong>Name</strong></p>
                <p>Price</p>
                <button class="btn btn-primary">Info</button>
            </div>-->
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <p>Footer Text</p>
</footer>

</body>
</html>