<h3>Add news</h3><br/>

<form method="post" action="">
    <div class="form-group">
        <label for="title_news">Titel_news</label>
        <input type="text" id="title_news" name="title_news" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <input type="text" id="category" name="category" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="content_news">Content_news</label>
        <textarea name="content_news" id="content_news" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="image_news">Image_news</label>
        <input type="text" id="image_news" name="image_news" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="date_news">Date_news</label>
        <input type="text" id="date_news" name="date_news" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="id_category">Id_category</label>
        <input type="number" id="id_category" name="id_category" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="is_published">Is_published</label>
        <input type="checkbox" name="is_published" id="is_published" checked="checked" />
    </div>
    <input type="submit" class="btn btn-success" />
</form>